[submodule "ws/src/ddg_multi_robot_planner"]
	path = ws/src/ddg_multi_robot_planner
	url = git@github.com:DockDockGo/ddg_multi_robot_planner.git
[submodule "ws/src/neo_simulation2"]
	path = ws/src/neo_simulation2
	url = git@github.com:DockDockGo/neo_simulation2.git
[submodule "ws/src/multi_navigator"]
	path = ws/src/multi_navigator
	url = git@github.com:DockDockGo/multi_navigator.git
[submodule "ws/src/nav2_mppi_controller"]
	path = ws/src/nav2_mppi_controller
	url = git@github.com:DockDockGo/nav2_mppi_controller.git
[submodule "ws/src/ddg_multi_robot_srvs"]
	path = ws/src/ddg_multi_robot_srvs
	url = git@github.com:DockDockGo/ddg_multi_robot_srvs.git
[submodule "extras/ddg_scripts"]
	path = extras/ddg_scripts
	url = git@github.com:DockDockGo/ddg_scripts.git
[submodule "ws/src/robot_action_interfaces"]
	path = ws/src/robot_action_interfaces
	url = git@github.com:DockDockGo/robot_action_interfaces.git
[submodule "ws/src/robot_motion_server"]
	path = ws/src/robot_motion_server
	url = git@github.com:DockDockGo/robot_motion_server.git
[submodule "ws/src/robot_state_machine"]
	path = ws/src/robot_state_machine
	url = git@github.com:DockDockGo/robot_state_machine.git
[submodule "ws/multi_navigator"]
	path = ws/multi_navigator
	url = git@github.com:DockDockGo/multi_navigator.git
[submodule "extras/robot-setup-tool"]
	path = extras/robot-setup-tool
	url = git@github.com:DockDockGo/robot-setup-tool.git
[submodule "robot-setup-scripts"]
	path = robot-setup-scripts
	url = git@github.com:DockDockGo/robot-setup-scripts.git
[submodule "extras/robot-setup-scripts"]
	path = extras/robot-setup-scripts
	url = git@github.com:DockDockGo/robot-setup-scripts.git
[submodule "ws/src/ddg_waitstep_at_waypoint_plugin"]
	path = ws/src/ddg_waitstep_at_waypoint_plugin
	url = git@github.com:DockDockGo/ddg_waitstep_at_waypoint_plugin.git
[submodule "ws/src/robot_misson_control"]
	path = ws/src/robot_misson_control
	url = git@github.com:DockDockGo/robot_misson_control.git
