[submodule "ws/src/ddg_multi_robot_planner"]
	path = ws/src/ddg_multi_robot_planner
	url = git@github.com:DockDockGo/ddg_multi_robot_planner.git
[submodule "ws/src/neo_simulation2"]
	path = ws/src/neo_simulation2
	url = git@github.com:DockDockGo/neo_simulation2.git
[submodule "ws/src/multi_navigator"]
	path = ws/src/multi_navigator
	url = git@github.com:DockDockGo/multi_navigator.git
[submodule "ws/src/nav2_mppi_controller"]
	path = ws/src/nav2_mppi_controller
	url = git@github.com:DockDockGo/nav2_mppi_controller.git
